@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

$font-body: "Roboto",
sans-serif;
$font-display: "Dancing Script",
cursive;

$primary-colour: #28527a;
$secondary-colour: #f0a500;
$black-colour: #333;
$white-colour: #fafafa;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    color: $black-colour;
}

a:link,
a:visited {
    text-decoration: none;
}

nav {
    height: 10vh;
    background-color: $primary-colour;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: $font-display;
    font-size: 20px;
    color: $white-colour;
}

.button {
    display: block;
    width: 100px;
    background-color: $secondary-colour;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    color: $white-colour;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    div {
        text-align: center;

        h1 {
            color: $primary-colour;
            font-size: 50px;
        }

        h2 {
            font-family: $font-display;
            font-size: 25px;
            margin: 20px 0;
        }

        a {
            margin: 0 auto;
        }

    }

}