@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* My colour pallette
 #403F4C - dark
 #E84855 - red
 #F9DC5C - yellow
 #3185FC - blue
 #EFBCD5 - pink
*/

/* 
Default Styling / resets
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    height: 100%;
}

/* Section styling */
.s1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #efbcd5;
    text-align: center;
    padding: 10px;
}

.s2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    background-color: #403f4c;
    text-align: center;
    padding: 10px;
}

.s2-toggled {
    background-color: #06d6a0;
}

.s2-toggled-fail {
    background-color: #e84855;
}

.input-area,
.output-area {
    background-color: #fcfcfc;
    margin-top: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

input {
    width: 80%;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border: 2px solid #403f4c;
}

/* Button Styling */
button {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 2rem;
    border: none;
    border-radius: 4px;
    background-color: #3185fc;
}

.btn-clicked {
    background-color: #06d6a0;
    color: white;
}

.btn-clicked-fail {
    background-color: #e84855;
    color: white;
}

button:hover {
    cursor: pointer;
    transform: scale(0.96);
}

.icon-btn {
    display: flex !important;
    flex-direction: column;
}

.switch {
    margin-bottom: 10px;
}

.clear {
    margin-top: 20px;
}

/* Misc styles */
h3 {
    color: #fff;
}

h4 {
    font-weight: 100;
}
