.button {
    cursor: pointer;
    font-size: 2rem;
    background-color: #f7f7f7;
    border: none;
    height: 100px;
    border-radius: 30px;

    &--red {
        color: #ee8b8b;
    }

    &--green {
        color: #51fdab;
    }

    &--large {
        grid-column: span 2;
    }

    &:hover {
        background-color: rgba(247,247,247,0.2);;
    }
}