// Resets, variables, mixins, and any utility classes.

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,800;1,300&display=swap");

$primary-color: #03045e;
$secondary-color: #caf0f8;

$bp-tablet: 768px;
$bp-desktop: 1140px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: $secondary-color;
}

::selection {
    background-color: $secondary-color;
    color: $primary-color;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
}

input,
button,
textarea {
    border: none;
    outline: none;
    resize: none;
    transition: all 0.3s ease-in-out;
}

input[type="text"]:focus,
textarea:focus,
input[type="email"]:focus {
    box-shadow: 0 0 20px $secondary-color;
    border: 1px solid $primary-color;
}

::placeholder {
    font-weight: normal;
}

.bg-primary {
    background-color: $primary-color;
}
