// Resets, variables, mixins, and any utility classes.

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,800;1,300&display=swap');

$primary-color: #03045E;
$secondary-color: #CAF0F8;

/* 

320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV

*/

$layout-breakpoint-desktop: 769px;

$layout-breakpoint-laptop: 1024px;

$layout-breakpoint-tablet: 768px;

$layout-breakpoint-small: 591px;

$layout-breakpoint-mobile: 425px;



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: $primary-color;
    color: $secondary-color;
}

::selection {
    background-color: $secondary-color;
    color: $primary-color;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}