// Resets, variables, mixins, and any utility classes.

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,800;1,300&display=swap');

$primary-color: #03045E;
$secondary-color: #caf0f8;

$bp-tablet: 768px;
$bp-desktop: 1140px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: $primary-color;
    color: $secondary-color;
}

::selection {
    background-color: $secondary-color;
    color: $primary-color;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

input,
button,
textarea {
    border: none;
    outline: none;
}