// Anything reusable goes in here.

.title {
    font-weight: 800;
    font-size: 65px;
    text-transform: uppercase;

    @media (min-width: $bp-desktop) {
        font-size: 90px;
    }

    &--large {
        font-weight: 800;
        font-size: 100px;
        width: 100%;
        text-align: center;
        line-height: 90px;
        margin-bottom: 20px;

        @media (min-width: $bp-tablet) {
            font-size: 120px;
            line-height: 140px;
        }

        @media (min-width: $bp-desktop) {
            font-size: 140px;
            line-height: 160px;
            align-items: center;
            text-align: center;
            margin-bottom: 0;
        }
    }
}

.subtitle {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 40px;

    &--large {
        font-style: normal;
        font-weight: normal;
        align-items: center;
        text-align: center;
        font-size: 30px;
        width: 75%;

        @media (min-width: $bp-tablet) {
            margin: 20px;

        }

        @media (min-width: $bp-desktop) {
            width: 100%;
            font-size: 40px;
        }
    }
}

.label {
    font-size: 24px;
    margin-bottom: 20px;
}

.input {
    background-color: #caf0f8;
    opacity: 50%;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 40px;
    padding: 20px;
    color: $primary-color;
    font-size: 24px;
    font-weight: bold;
    text-align: center;

    &--larger {
        height: 100px !important;
    }
}

.button {
    font-size: 24px;
    text-transform: lowercase;
    background-color: $secondary-color;
    color: $primary-color;
    font-weight: bold;
    width: 50%;
    margin: auto;
    border-radius: 26px;
    padding: 10px;
}

.description {
    text-align: center;
    font-size: 24px;
    width: 70%;
    line-height: 34px;

    @media (min-width: $bp-desktop) {
        width: 50%;
    }
}

.chevron-down {
    display: none;

    @media (min-width: $bp-tablet) {
        display: block;
        font-size: 60px;
        position: absolute;
        background: transparent;
        bottom: 4vh;
        left: 0;
        right: 0;
        width: fit-content;
        margin: 0 auto;
        animation: slide-up 1s 1s ease-out forwards, pulse 2s 3s ease-out infinite;
        opacity: 0;
        z-index: 10;
    }
}

/* Animations */

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: none
    }

    50% {
        opacity: .8;
        transform: scale(.8);
    }

    100% {
        opacity: 1;
        transform: none;
    }

}