// Anything reusable goes in here.

.landing-page {

    &__title {
        font-weight: 800;
        font-size: 100px;
        width: 100%;
        text-align: center;
        line-height: 90px;
        margin-bottom: 20px;

        @media (min-width: $bp-tablet) {
            font-size: 120px;
            line-height: 140px;
        }

        @media (min-width: $bp-desktop) {
            font-size: 140px;
            line-height: 160px;
            align-items: center;
            text-align: center;
            margin-bottom: 0;
        }
    }

    &__subtitle {
        font-style: normal;
        font-weight: normal;
        align-items: center;
        text-align: center;
        font-size: 30px;
        width: 75%;

        @media (min-width: $bp-tablet) {
            margin: 20px;

        }

        @media (min-width: $bp-desktop) {
            width: 100%;
            font-size: 40px;
        }
    }

    &__chevron-down {
        display: none;

        @media (min-width: $bp-tablet) {
            display: block;
            font-size: 60px;
            position: absolute;
            background: transparent;
            bottom: 4vh;
            left: 0;
            right: 0;
            width: fit-content;
            margin: 0 auto;
            animation: slide-up 1s 1s ease-out forwards, pulse 2s 3s ease-out infinite;
            opacity: 0;
            z-index: 10;
        }
    }

    @media (min-width: $bp-tablet) {
        min-height: 80vh;
    }
}

.about {

    &__title {
        font-weight: 800;
        font-size: 90px;
    }

    &__description {
        text-align: center;
        font-size: 24px;
        width: 70%;
        line-height: 34px;

        @media (min-width: $bp-desktop) {
            width: 50%;
        }
    }

    & p {
        margin-bottom: 30px;
    }
}

.social-icons {
    font-size: 60px;

    &__at {

        @media (min-width: $bp-desktop) {
            transition: transform .7s ease-in-out;
        }
    }

    &__git-hub {
        margin-right: 20px;

        @media (min-width: $bp-tablet) {
            margin-right: 0;
        }

        @media (min-width: $bp-desktop) {
            transition: transform .7s ease-in-out;
        }
    }

    &__at:hover {

        @media (min-width: $bp-desktop) {
            opacity: .5;
            transform: rotate(360deg);
        }
    }

    &__git-hub:hover {

        @media (min-width: $bp-desktop) {
            opacity: .5;
            transform: rotate(360deg);
        }
    }
}

/* Animations */

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: none
    }

    50% {
        opacity: .8;
        transform: scale(.8);
    }

    100% {
        opacity: 1;
        transform: none;
    }

}