// Layout, such as the container and any grid systems.

// Instead of changing styles when the width gets smaller than 768px, we should change the design when the width gets larger than 768px. This will make our design Mobile First.

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.gutter {
    margin-bottom: 20px;
}

.landing-page {

    @media (min-width: $bp-tablet) {
        min-height: 80vh;
    }

    @media (min-width: $bp-desktop) {
        min-height: 70vh;
        margin-bottom: 30vh;
    }
}

.navigation {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    margin-top: 4vh;

    &__list {
        display: flex;
        justify-content: space-evenly;
        list-style: none;

        @media (max-width: $bp-tablet) {
            display: none;
        }

        &-item {
            width: 100%;
            padding: 30px;
            transition: 300ms;
            margin-top: 0px;
            margin-bottom: 20px;

            &:hover {
                opacity: 0.5;
                margin-top: 20px;
                margin-bottom: 0px;
            }
        }
    }

    & .mobile-navigation {
        z-index: 2;
    }

    & .mobile-menu {
        display: block;
        background-color: $secondary-color;
        width: 75px;
        height: 5px;
        margin: 10px auto;

        @media (min-width: $bp-tablet) {
            display: none;
        }
    }
}

.about {

    & .image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-image: url(./images/20210412_142857.jpg);
        filter: drop-shadow(0px 5px 50px rgba(0, 0, 0, 0.4));
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;
        margin: 20px;
    }

}

.socials {
    font-size: 60px;
    width: 100%;
    position: absolute;
    text-align: center;
    left: 0;
    background-color: transparent;

    @media (min-width: $bp-tablet) {
        position: fixed;
        width: 172px;
        height: 77px;
        left: 75%;
        bottom: 4vh;
    }

    @media (min-width: $bp-desktop) {
        left: 85%;
        transition: transform .7s ease-in-out;
    }

    & a {
        color: $primary-color;

        @media (min-width: $bp-desktop) {
            color: $secondary-color;
        }
    }

    &__icon {

        &--github {
            margin-right: 20px;
            background-color: transparent;

            @media (min-width: $bp-tablet) {
                margin-right: 0;
            }

            @media (min-width: $bp-desktop) {
                transition: transform .7s ease-in-out;
            }

            &:hover {
                @media (min-width: $bp-desktop) {
                    opacity: .5;
                    transform: rotate(360deg);
                }
            }
        }

        &--at {
            background-color: transparent;

            @media (min-width: $bp-desktop) {
                transition: transform .7s ease-in-out;
            }

            &:hover {
                @media (min-width: $bp-desktop) {
                    opacity: .5;
                    transform: rotate(360deg);
                }
            }
        }
    }
}

.links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    @media (min-width: $bp-desktop) {
        width: 30%;
    }

    &__icon {
        font-size: 30px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.projects__list {
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
    width: 100%;

    & .container {
        background-color: #c4c4c4;
        border: 10px solid $secondary-color;
        border-radius: 50%;
        height: 176px;
        width: 176px;
    }

    & .prev,
    & .next {
        border-radius: 50%;
        border: 5px solid $secondary-color;
        width: 31.6px;
        height: 31.6px;
        margin-top: 30%;
        margin: 25% 10px 0px 10px;
    }
}