// Layout, such as the container and any grid systems.

// Instead of changing styles when the width gets smaller than 768px, we should change the design when the width gets larger than 768px. This will make our design Mobile First.

section {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.nav {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;

    @media (max-width: $layout-breakpoint-tablet) {
        margin-top: 4vh;
    }

    &__item-wrapper {
        display: flex;
        justify-content: space-evenly;
        list-style: none;

        @media (max-width: $layout-breakpoint-tablet) {
            display: none;
        }
    }

    &__item {
        width: 100%;
        padding: 30px;
        transition: 300ms;
        margin-top: 0px;
        margin-bottom: 20px;

        &:hover {
            opacity: 0.5;
            margin-top: 20px;
            margin-bottom: 0px;
        }
    }
}

.mobile-menu {
    display: block;
    background-color: $secondary-color;
    width: 75px;
    height: 5px;
    margin: 10px auto;

    @media (min-width: $layout-breakpoint-desktop) {
        display: none;
    }
}

.landing-page {
    min-height: 70vh;
    margin-bottom: 30vh;
}

.about {

    &__image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-image: url(./images/20210412_142857.jpg);
        filter: drop-shadow(0px 5px 50px rgba(0, 0, 0, 0.4));
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;
    }

    &__subtitle {
        padding: 20px;
        font-size: 40px;
    }
}


.social-icons {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 20vh;

    @media (min-width: $layout-breakpoint-desktop) {
        position: fixed;
        width: 172px;
        height: 77px;
        left: 85%;
        bottom: 4vh;
    }
}