@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,800;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #03045E;
  color: #CAF0F8;
}

::selection {
  background-color: #CAF0F8;
  color: #03045E;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.landing-page__title {
  font-size: 100px;
  width: 100%;
  text-align: center;
  line-height: 90px;
  margin-bottom: 20px;
  /* @media (min-width: $layout-breakpoint-laptop) {
      font-size: 115px;
  }

  @media (min-width: $layout-breakpoint-desktop) {
      font-weight: 800;
      font-size: 115px;
      width: 100%;
      align-items: center;
      text-align: center;
      margin-bottom: 0;
  }*/
}
@media (min-width: 768px) {
  .landing-page__title {
    width: 70%;
  }
}
.landing-page__subtitle {
  font-size: 22px;
  text-align: center;
  width: 75%;
  /*
  @media (min-width: $layout-breakpoint-tablet) {
      margin: 20px;
  }

  @media (min-width: $layout-breakpoint-desktop) {
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      align-items: center;
      text-align: center;
      width: 100%;
  }*/
}
.landing-page__chevron-down {
  display: none;
}
@media (min-width: 768px) {
  .landing-page__chevron-down {
    display: block;
    font-size: 60px;
    position: absolute;
    background: transparent;
    bottom: 4vh;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto;
    animation: slide-up 1s 1s ease-out forwards, pulse 2s 3s ease-out infinite;
    opacity: 0;
    z-index: 10;
  }
}

.about__title {
  font-weight: 800;
  font-size: 90px;
}
.about__description {
  text-align: center;
  padding: 20px;
  font-size: 26px;
  width: 70%;
}
.about p {
  margin-bottom: 30px;
}

.social-icons {
  font-size: 60px;
}
@media (min-width: 1140px) {
  .social-icons__at {
    transition: transform 0.7s ease-in-out;
  }
}
.social-icons__git-hub {
  margin-right: 20px;
}
@media (min-width: 768px) {
  .social-icons__git-hub {
    margin-right: 0;
  }
}
@media (min-width: 1140px) {
  .social-icons__git-hub {
    transition: transform 0.7s ease-in-out;
  }
}
@media (min-width: 1140px) {
  .social-icons__at:hover {
    opacity: 0.5;
    transform: rotate(360deg);
  }
}
@media (min-width: 1140px) {
  .social-icons__git-hub:hover {
    opacity: 0.5;
    transform: rotate(360deg);
  }
}

/* Animations */
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
section {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.nav {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  margin-top: 4vh;
}
.nav__item-wrapper {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
@media (max-width: 768px) {
  .nav__item-wrapper {
    display: none;
  }
}
.nav__item {
  width: 100%;
  padding: 30px;
  transition: 300ms;
  margin-top: 0px;
  margin-bottom: 20px;
}
.nav__item:hover {
  opacity: 0.5;
  margin-top: 20px;
  margin-bottom: 0px;
}

.mobile-menu {
  display: block;
  background-color: #CAF0F8;
  width: 75px;
  height: 5px;
  margin: 10px auto;
}
@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.landing-page {
  min-height: 70vh;
  margin-bottom: 30vh;
}

.about__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(./images/20210412_142857.jpg);
  filter: drop-shadow(0px 5px 50px rgba(0, 0, 0, 0.4));
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}
.about__subtitle {
  padding: 20px;
  font-size: 40px;
}

.social-icons {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 0;
  bottom: 4vh;
}
@media (min-width: 768px) {
  .social-icons {
    position: fixed;
    width: 172px;
    height: 77px;
    left: 75%;
  }
}
@media (min-width: 1140px) {
  .social-icons {
    position: fixed;
    width: 172px;
    height: 77px;
    left: 85%;
  }
}