@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,800;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #03045E;
  color: #CAF0F8;
  overflow: hidden;
}

::selection {
  background-color: #CAF0F8;
  color: #03045E;
}

a {
  text-decoration: none;
}

.landing-page__title {
  font-weight: 800;
  font-size: 100px;
  align-items: center;
  text-align: center;
}
.landing-page__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  align-items: center;
  text-align: center;
}
@media (max-width: 768px) {
  .landing-page__subtitle {
    font-size: 18px;
  }
}
.landing-page__chevron-down {
  font-size: 60px;
  position: absolute;
  bottom: 4vh;
  left: 0;
  right: 0;
  text-align: center;
  animation: slide-up 1s 1s ease-out forwards, pulse 2s 3s ease-out infinite;
  opacity: 0;
}

.social-icons {
  font-size: 60px;
}
.social-icons__at {
  transition: transform 0.7s ease-in-out;
}
.social-icons__git-hub {
  transition: transform 0.7s ease-in-out;
}
.social-icons__at:hover {
  opacity: 0.5;
  transform: rotate(360deg);
}
.social-icons__git-hub:hover {
  opacity: 0.5;
  transform: rotate(360deg);
}

/* Animations */
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
section {
  min-height: 90vh;
}

.nav {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
}
.nav__item-wrapper {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
@media (max-width: 768px) {
  .nav__item-wrapper {
    display: none;
  }
}
.nav__item {
  width: 100%;
  padding: 30px;
  transition: 300ms;
  margin-top: 0px;
  margin-bottom: 20px;
}
.nav__item:hover {
  opacity: 0.5;
  margin-top: 20px;
  margin-bottom: 0px;
}

/* .nav-mobile {
    display: none;
    height: 30px;
    width: 100px;
    background-color: $secondary-color;

    @media (max-width: $layout-breakpoint-small) {
        display: block;
        margin: auto;
    }
} */
.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
}

.social-icons {
  position: absolute;
  width: 172px;
  height: 77px;
  left: 85%;
  bottom: 4vh;
}